<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Godiva</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../source/css/jssocials.css">
	<link rel="stylesheet" type="text/css" href="../source/css/jssocials-theme-flat.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../source/css/style.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<!-- Menu -->
<div id="menu" class="slice slice-overlay-menu">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding">
			<div class="h-right">
				<div class="i-menu-close"></div>
			</div>
		</div>
		<div class="l-col-12 l-padding t-center">
			<nav>
				<ul>
					<li><a href="">Home</a></li>
					<li><a href="">Inside Godiva</a></li>
					<li><a href="">Art &amp; Design</a></li>
					<li><a href="">Lifestyle &amp; Travel</a></li>
					<li><a href="">Chocolate Stories</a></li>
					<li><a href="">#Godiva90</a></li>
				</ul>
			</nav>
		</div>
	</div>
</div>
<!-- Menu end -->

<!-- Search -->
<div id="search" class="slice slice-overlay t-light">
	<div class="l-col-12 l-content h-clearfix">
		<div class="l-col-12 l-padding t-search">
			<div class="h-right">
				<div class="i-search-close"></div>
			</div>
		</div>
		<div class="l-col-12 t-center t-search">
			<div class="l-col-7 l-content l-padding">
				<h1>Search</h1>
				<form class="search-holders">
					<input class="search" type="text" />
				</form>
			</div>
		</div>
		<!-- If there are search results then display this block -->
		<div class="l-col-12">
			<div class="l-col-12 t-center l-padding">
				<h3>Search Results for</h3>
			</div>
			<div class="l-col-12 search-results t-listing t-center">
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-2.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>Full Story</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-3.jpg" alt=""/>
						<h3>lorem ipsum dolor dit amet</h3>
						<h5>Find out here</h5>
					</a>
				</div>
				<div class="l-col-4 l-padding listing">
					<a href="#">
						<img class="b-lazy" data-src="../assets/search-1.jpg" alt=""/>
						<h3>Lorem ipsum dolor</h3>
						<h5>DISCOVER MORE</h5>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Search end -->

<header class="slice h-clearfix">
	<div class="l-col-12 l-content">
		<div class="l-col-12 l-padding t-center">
			<div class="header-holder">
				<div class="header-logo"></div>
				<div class="header-headline">
					<h1>Chocolate Notes</h1>
				</div>

				<div class="button-nav h-hidden-lg h-hidden-xl">
					<span class="button-nav-lines"></span>
				</div>

				<div class="header-shop">
					<select onchange="location = this.value;">
						<option>Shop Godiva</option>
						<option value="http://google.com">United States</option>
						<option value="http://google.com">United Kingdom</option>
						<option value="http://google.com">South America</option>
						<option value="http://google.com">South Africa</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</header>

<nav class="slice slice-nav h-clearfix">
	<div class="l-col-12 nav-holder l-content h-clearfix t-nav">
		<div class="l-col-12 l-padding">
			<ul class="h-hidden-md h-hidden-sm">
				<li><a href="">Home</a></li>
				<li><a href="">Inside Godiva</a>
					<div class="mega">
						<div class="mega-article">
							<h5>Articles</h5>	
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
						</div>
						<div class="mega-tag">
							<h5>Tags</h5>
							<ul>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="">Art &amp; Design</a>
					<div class="mega">
						<div class="mega-article">
							<h5>Articles</h5>	
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
						</div>
						<div class="mega-tag">
							<h5>Tags</h5>
							<ul>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="">Lifestyle &amp; Travel</a>
					<div class="mega">
						<div class="mega-article">
							<h5>Articles</h5>	
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
						</div>
						<div class="mega-tag">
							<h5>Tags</h5>
							<ul>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="">Chocolate Stories</a>
					<div class="mega">
						<div class="mega-article">
							<h5>Articles</h5>	
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
							<div class="mega-article-holder h-clearfix">
								<div class="mega-article-image">
									<a href=""><img src="../assets/mega-article1.png"></a>
								</div>
								<div class="mega-article-content">
									<p><a href="">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor.</a></p>
								</div>
							</div>
						</div>
						<div class="mega-tag">
							<h5>Tags</h5>
							<ul>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
								<li><a href="">Lorem Ipsum</a></li>
							</ul>
						</div>
					</div>
				</li>
				<li><a href="">#Godiva90</a></li>
			</ul>
			<div class="icon-holder">
				<a href="#" class="icons fb"></a>
				<a href="#" class="icons insta"></a>
				<a href="#" class="icons mail"></a>
				<div class="icons search i-search"></div>
			</div>
		</div>
	</div>
</nav>

<div class="slice h-clearfix t-center t-light t-banner">	
	<div class="category-hero-bg b-lazy h-centered-holder" data-src="../assets/category1.jpg">
		<div class="h-centered-content">
			<div class="l-col-12 l-content l-padding">
				<h3>Inside Godiva</h3>
			</div>
		</div>
	</div>
</div>

<div class="slice h-clearfix">
	<div class=" l-col-12 l-content t-center t-light">

		<div class="category-holder t-category h-clearfix">
			
			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>Inside Godiva</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>Inside Godiva</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>PHOTO CREDIT: LOREM IPSUM DOLOR ALPHA CINQE CINQUENTO lithium PHOTO CREDIT: LOREM IPSUM DOLOR ALPHA CINQE CINQUENTO lithium</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>Inside Godiva</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>Inside Godiva</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="category-item l-col-4 l-padding">
				<a href="#" class="category-container">
					<div class="category-bg b-lazy" data-src="../assets/home1.jpg"></div>
					<!-- Content for each grid -->
					<div class="category-content h-centered-holder">
						<div class="h-centered-content">
							<h4>Inside Godiva</h4>	
							<div class="category-content-line"></div>
							<span class="button">Read more</span>
						</div>
					</div>
					<!-- Content for each grid end -->
				</a>
			</div>

			<div class="l-col-12 l-padding t-center category-more">
				<a class="button big" href="#">Show more</a>
			</div>

		</div>
	</div>
</div>

<footer class="slice slice-footer h-clearfix">
	<div class="l-col-12 l-content t-footer t-light">
		<div class="l-col-3 l-padding">
			<div class="footer-logo">
				<div class="footer-emblem"></div>
				<p>Copyright &copy; 2016 Godiva</p>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-cat">
				<h5>Categories</h5>
				<ul>
					<li><a href="">Inside Godiva</a></li>
					<li><a href="">Art &amp; Design</a></li>
					<li><a href="">Lifestyle &amp; Travel</a></li>
					<li><a href="">Chocolate stories</a></li>
					<li><a href="">#Godiva90</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-info">
				<h5>Useful information</h5>
				<ul>
					<li><a href="">Terms &amp; conditions</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-social">
				<h5>Follow us</h5>
				<div class="social">
					<a href="" class="square">
						<span class="icon facebook"></span>
					</a>
					<a href="" class="square">
						<span class="icon twitter"></span>
					</a>
					<a href="" class="square">
						<span class="icon instagram"></span>
					</a>
					<div class="h-clearfix"></div>
					<a href="" class="square">
						<span class="icon google"></span>
					</a>
					<a href="" class="square">
						<span class="icon pinterest"></span>
					</a>
					<a href="" class="square">
						<span class="icon youtube"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="../source/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../source/js/libs/blazy.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>
<script type="text/javascript" src="../source/js/libs/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../source/js/libs/sticky.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick.min.js"></script>
<script type="text/javascript" src="../source/js/scripts/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
    google: {
      families: ['Arapey:400italic:latin', 'Lato:400,300,700:latin', 'Montserrat:400,700:latin']
    }
  });
</script>

</body>
</html>