<div class="slice h-clearfix t-center t-light t-banner">	
	<div class="category-hero-bg b-lazy h-centered-holder" {{ field_category_hero_image }}>
		<div class="h-centered-content">
			<div class="l-col-12 l-content l-padding">
				<h3>{{ name }}</h3>
			</div>
		</div>
	</div>
</div>