<div class="slice h-clearfix t-center t-light t-banner t-godiva slice-header-godiva">	
	<div class="category-hero-bg b-lazy h-centered-holder" {{ field_godiva_hero_image }}>
		<div class="h-centered-content">
			<div class="l-col-8 l-content l-padding">
				<h3>{{ field_ttitle }}</h3>
				<h4>{{ field_sub_title }}</h4>
			</div>
		</div>
	</div>
</div>