<div class="slice h-clearfix">
	<div class="l-col-10 l-push-1 l-padding">
		<div class="article-image">
			{{ field_image }}
			<div class="article-img-social">
				<div class="article-caption">
					PHOTO CREDIT: {{ field_image_caption }}
				</div>
				<div class="article-img-share share-article-image"></div>
			</div>
		</div>
	</div>
</div>
