<!doctype html>
<!--[if lte IE 7]> <html class="no-js ie7" lang="en"> <![endif]-->
<!--[if IE 8]>     <html class="no-js ie8" lang="en"> <![endif]-->
<!--[if IE 9]>     <html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">
	<title>Godiva</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" >
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- Favicon -->
	<link rel="shortcut icon" type="image/icon" href="/favicon.ico">
	<link rel="stylesheet" type="text/css" href="../source/css/jssocials.css">
	<link rel="stylesheet" type="text/css" href="../source/css/jssocials-theme-flat.css">
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
	<link rel="stylesheet" type="text/css" href="../source/css/style.css">
	<script src='https://www.google.com/recaptcha/api.js'></script>
</head>
<body>

<!-- Hamburger menu -->
<nav id="c-menu--slide-right" class="c-menu c-menu--slide-right t-hamburger">
	<div class="menu-close h-clearfix">
		<button class="c-menu__close"></button>
	</div>
	<ul class="c-menu__items">
		<li class="c-menu__item"><a href="#" class="c-menu__link">Home</a></li>
		<li class="c-menu__item"><a href="#" class="c-menu__link">About</a></li>
		<li class="c-menu__item"><a href="#" class="c-menu__link">Services</a></li>
		<li class="c-menu__item"><a href="#" class="c-menu__link">Work</a></li>
		<li class="c-menu__item"><a href="#" class="c-menu__link">Contact</a></li>
	</ul>

	<div class="hamburger-articles">
		<h3>Latest Articles</h3>
		<div class="article-holder">
			<img src="../assets/menu-1.jpg"/>
			<h5>GODIVA GUIDES - 10/13/16</h5>
			<h4>Suo enim quisque studio maxime ducitur.</h4>
		</div>
		<div class="article-holder">
			<img src="../assets/menu-2.jpg"/>
			<h5>DESIGN SERIES - 6/17/16</h5>
			<h4>Teneo inquit finem illi videri nihil dolere.</h4>
		</div>
		<div class="article-holder">
			<img src="../assets/menu-3.jpg"/>
			<h5>VINTAGE - 6/01/16</h5>
			<h4>Suo enim quisque studio maxime ducitur.</h4>
		</div>
	</div>

	<div class="hamburger-tags">
		<h3>Tags</h3>
		<div class="hamburger-tag-holder">
			<a class="i-tag h-clearfix" href="#">
				<div class="i-tag-arrow"></div>
				<div class="i-tag-body">
					<span>Chocolate</span>
					<span>Chocolate</span>
				</div>
				<div class="i-tag-end"></div>
			</a>
			<a class="i-tag h-clearfix" href="#">
				<div class="i-tag-arrow"></div>
				<div class="i-tag-body">
					<span>Dessert</span>
					<span>Dessert</span>
				</div>
				<div class="i-tag-end"></div>
			</a>
			<a class="i-tag h-clearfix" href="#">
				<div class="i-tag-arrow"></div>
				<div class="i-tag-body">
					<span>Recipes</span>
					<span>Recipes</span>
				</div>
				<div class="i-tag-end"></div>
			</a>
			<a class="i-tag h-clearfix" href="#">
				<div class="i-tag-arrow"></div>
				<div class="i-tag-body">
					<span>Godiva</span>
					<span>Godiva</span>
				</div>
				<div class="i-tag-end"></div>
			</a>
		</div>
	</div>
</nav>
<!-- Mask overlay -->
<div id="c-mask" class="c-mask"></div>
<!-- Hamburger menu end -->

<!-- Nav holder spacer -->
<div class="slice slice-nav-holder"></div>

<!-- Header nav -->
<nav class="slice slice-nav h-clearfix">

	<div class="header-search">
		<div class="close-search"></div>
		<form>
			<input type="text" placeholder="Search..." />
		</form>
	</div>

	<div class="l-col-12 nav-holder l-content h-clearfix t-nav">
		<div class="l-col-6 l-padding f-col-8">
			<div class="nav-title">
				<h2><a href="index.html">Chocolate <span>Notes</span></a></h2>
			</div>
		</div>
		<div class="l-col-6 l-padding f-col-4">
			<div class="search-holder">
				<div class="icons search i-search"></div>
				<div id="o-wrapper" class="o-wrapper">
					<button id="c-button--slide-right" class="c-button"></button>
				</div><!-- /o-wrapper -->
			</div>

			<div class="divider-holder">
				<div class="divider-one"></div>
				<div class="divider-two"></div>
			</div>

			<div class="header-shop h-hidden-sm">
				<select onchange="location = this.value;">
					<option>Shop Godiva</option>
					<option value="http://google.com">United States</option>
					<option value="http://google.com">United Kingdom</option>
					<option value="http://google.com">South America</option>
					<option value="http://google.com">South Africa</option>
				</select>
			</div>

			<div class="divider-holder divider-holder-one h-hidden-sm">
				<div class="divider-one"></div>
				<div class="divider-two"></div>
			</div>

			<div class="icon-holder h-hidden-sm">
				<a href="#" class="icons fb"></a>
				<a href="#" class="icons insta"></a>
				<a href="#" class="icons mail"></a>
			</div>
		</div>
	</div>
</nav>
<!-- Header nav close -->

<!-- Logo slice -->
<div class="slice h-clearfix">
	<div class="l-col-12 l-padding l-content">
		<div class="header-logo-holder">
			<div class="header-logo-overlay">
				<div class="header-logo"></div>
			</div>
		</div>
	</div>
</div>
<!-- Logo slice -->

<div class="slice-search-holder t-search">

	<div class="slice">
		<div class="l-col-10 l-content t-center l-padding search-form-holder">
			<h2>Tag<br/><span>Results</span></h2>
			<div class="">
				<form>
					<input type="text" />
				</form>
			</div>
			<h3>24 results found for "xxxxxxxx"</h3>
		</div>
	</div>

	<div class="slice slice-search">
		<div class="l-col-10 l-content l-padding">
			<div class="search-article-holder h-clearfix">
				<a class="search-image" href="#"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../assets/search1.jpg" alt=""/></a>
				<h5><a href="">Lorem ipsum</a></h5>
				<h4><a href="">Lorem ipsum</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
			</div>
		</div>
	</div>

	<div class="slice slice-search">
		<div class="l-col-10 l-content l-padding">
			<div class="search-article-holder h-clearfix">
				<h5><a href="">Lorem ipsum</a></h5>
				<h4><a href="">Lorem ipsum</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
			</div>
		</div>
	</div>

	<div class="slice slice-search">
		<div class="l-col-10 l-content l-padding">
			<div class="search-article-holder h-clearfix">
				<a class="search-image" href="#"><img class="b-lazy" src="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==" data-src="../assets/search1.jpg" alt=""/></a>
				<h5><a href="">Lorem ipsum</a></h5>
				<h4><a href="">Lorem ipsum</a></h4>
				<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
			</div>
		</div>
	</div>
</div>


<div class="slice search-pagination h-clearfix">
	<div class="l-col-12 l-content l-padding t-center category-more">
		<a class="button big" href="#">Show more</a>
	</div>
</div>

<footer class="slice slice-footer h-clearfix">
	<div class="l-col-12 l-content t-footer t-light">
		<div class="l-col-3 l-padding">
			<div class="footer-logo">
				<div class="footer-emblem"></div>
				<p>Copyright &copy; 2016 Godiva</p>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-cat">
				<h5>Categories</h5>
				<ul>
					<li><a href="">Inside Godiva</a></li>
					<li><a href="">Art &amp; Design</a></li>
					<li><a href="">Lifestyle &amp; Travel</a></li>
					<li><a href="">Chocolate stories</a></li>
					<li><a href="">#Godiva90</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-info">
				<h5>Useful information</h5>
				<ul>
					<li><a href="">Terms &amp; conditions</a></li>
					<li><a href="">About us</a></li>
					<li><a href="">Contact</a></li>
					<li><a href="">Privacy</a></li>
				</ul>
			</div>
		</div>
		<div class="l-col-3 l-padding">
			<div class="footer-social">
				<h5>Follow us</h5>
				<div class="social">
					<a href="" class="square">
						<span class="icon facebook"></span>
					</a>
					<a href="" class="square">
						<span class="icon twitter"></span>
					</a>
					<a href="" class="square">
						<span class="icon instagram"></span>
					</a>
					<div class="h-clearfix"></div>
					<a href="" class="square">
						<span class="icon google"></span>
					</a>
					<a href="" class="square">
						<span class="icon pinterest"></span>
					</a>
					<a href="" class="square">
						<span class="icon youtube"></span>
					</a>
				</div>
			</div>
		</div>
	</div>
</footer>

<script type="text/javascript" src="../source/js/libs/jquery.min.js"></script>
<script type="text/javascript" src="../source/js/libs/blazy.min.js"></script>
<script type="text/javascript" src="https://npmcdn.com/masonry-layout@4.1/dist/masonry.pkgd.min.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/jquery.jssocials/1.2.1/jssocials.min.js"></script>
<script type="text/javascript" src="../source/js/libs/jquery.waypoints.min.js"></script>
<script type="text/javascript" src="../source/js/libs/sticky.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick.min.js"></script>
<script type="text/javascript" src="../source/js/libs/slick-lightbox.min.js"></script>
<script type="text/javascript" src="../source/js/libs/menu.min.js"></script>
<script type="text/javascript" src="../source/js/scripts/main.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js"></script>
<script>
 WebFont.load({
	google: {
	  families: ['Arapey:400italic:latin', 'Lato:400,300,700:latin', 'Montserrat:400,700:latin']
	}
  });
</script>

</body>
</html>